@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Open Sans',sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #99d2d8, #4c929b);
    width: 100%;
    height: 100%;
}

.container {
    max-width: 400px;
    margin: 60px auto;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-header {
    background-color: #72b2b9;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
}

    .form-header h2 {
        margin-top: 0;
        font-weight: bold;
        font-size: 24px;
    }

    .form-header p {
        font-size: 16px;
        color: #fff;
        margin-bottom: 20px;
    }

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input[type="text"], input[type="password"] {
    width: 90%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

    input[type="text"]:focus, input[type="password"]:focus {
        border-color: #aaa;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

.btn-submit {
    background: linear-gradient(45deg, #99d2d8, #4c929b);
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 180px;
    align-self: center;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
}

    .btn-submit:hover {
        background-color: #1976d2;
    }


.form-footer {
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

a {
    text-decoration: none;
    color: #2196f3;
    display: block;
    text-align: center;
    margin: 0 auto;
}

    a:hover {
        color: #1976d2;
    }
