
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Home- Job Hunt</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css">
    <script src="~js/site.js"></script>

</head>

<body>
    
    <div class="bground">
        <div class="headings">
            <h1 id="heading1">@ViewBag.Quote</h1>
            <h3 id="heading2">@TempData["Quote2"]</h3>
            <div class="inputs">
                <input type="text" placeholder="Search keywords" name="keywords">
                <input type="text" placeholder="Enter location" name="location">
                <select name="category" id="categories">
                    <option value="accounting">Accounting</option>
                    <option value="art">Arts</option>
                    <option value="business">Business</option>
                    <option value="education">Education</option>
                    <option value="healthcare">Healthcare</option>
                    <option value="It">Information Technology</option>
                    <option value="DA">Data analyst</option>
                    <option value="law">Law enforcement</option>
                    <option value="sales">Sales and Marketing</option>
                    <option value="science">Science</option>
                    <option value="transport">Transportation</option>
                    <option value="media">Media</option>
                    <option value="agriculture">Agriculture</option>
                    <option value="photography">Photography</option>
                    <option value="hospitality">Hospitality</option>

                </select>

            </div>
        </div>
    </div>
    <h2 id="q1">We help to get the best and find the best talent</h2>
    <div class="containers">

        <div class="container1">
            <img src="~/images/pencil.png" alt="postjob" id="post">
            <h3><a href="#">Post a Job</a></h3>
            <h5>Post a job now to discover skilled individuals eager to join your company. Let's grow together!</h5>
        </div>
        <div class="container2">
            <img src="~/images/employee.png" alt="findjob" id="find">
            <h3><a href="#">Hunt a Job</a></h3>
            <h5>Explore job portals and networking events to find opportunities!</h5>
        </div>
        <div class="container3">
            <img src="~/images/candidate.png" alt="candidates" id="Candidates">
            <h3> <a href="#">Find Candidates</a>
            </h3>
            <h5>Matching skills with opportunity. Connecting you with your next star employee!</h5>
        </div>

    </div>
    <div class="explore">
        <h2>Explore by Category</h2>
        <br>
        <div class="jobs1">
            <div class="findJob">
                <img src="~/images/medical-history.png" alt="imagehealth">
                <h5 id="c1"><a href="#">Health care</a></h5>
                <h6 id="v1">0 Vacancy</h6>
            </div>
            <div class="findJob">
                <img src="~/images/growth.png" alt="imagebusiness">
                <h5 id="c2"><a href="#">Business</a></h5>
                <h6 id="v2">0 Vacancy</h6>
            </div>
            <div class="findJob">
                <img src="~/images/it.png" alt="imageIT">
                <h5 id="c3"><a href="#">Information Technology</a></h5>
                <h6 id="v3">0 Vacancy</h6>
            </div>
            <div class="findJob">
                <img src="~/images/engineer.png" alt="imageEngineering">
                <h5 id="c4"><a href="#">Engineering</a></h5>
                <h6 id="v4">0 Vacancy</h6>
            </div>
            <div class="findJob">
                <img src="~/images/compliant.png" alt="imageLaw">
                <h5 id="c5"><a href="#">Law Enforcement</a></h5>
                <h6 id="v5">0 Vacancy</h6>
            </div>
        </div>
        <div class="jobs2">
            <div class="findJob2">
                <img src="~/images/digital-marketing.png" alt="imagemarketing">
                <h5 id="c6"><a href="#">Marketing</a></h5>
                <h6 id="v6">0 Vacancy</h6>
            </div>
            <div class="findJob2">
                <img src="~/images/science.png" alt="imagescience">
                <h5 id="c7"><a href="#">Science</a></h5>
                <h6 id="v7">0 Vacancy</h6>
            </div>
            <div class="findJob2">
                <img src="~/images/agriculture.png" alt="imageAgriculture">
                <h5 id="c8"><a href="#">Agriculture</a></h5>
                <h6 id="v8">0 Vacancy</h6>
            </div>
            <div class="findJob2">
                <img src="~/images/social-media.png" alt="imageMedia">
                <h5 id="c9"><a href="#">Social Media</a></h5>
                <h6 id="v9">0 Vacancy</h6>
            </div>
            <div class="findJob2">
                <img src="~/images/transportation.png" alt="imagetransport">
                <h5 id="c0"><a href="#">Transportation</a></h5>
                <h6 id="v0">0 Vacancy</h6>
            </div>
        </div>
    </div>
    <div class="sections">
        <div class="images">
            <img id="j1" src="~/images/job1.webp" alt="job1">
            <img id="j2" src="~/images/job2.png" alt="job2">
            <img id="j3" src="~/images/job3.png" alt="job3">
            <img id="j4" src="~/images/job4.png" alt="job4">
        </div>

        <div class="quotes">
            <h1 id="head1">Welcome to Job Hunt! We help to get the best job and find a talent.</h1>
            <p>Welcome to JobPortal, your ultimate destination for finding the perfect job.
                Our website connects job seekers with top employers across various industries,
                offering a wide range of opportunities to match your skills and career aspirations.
                Whether you're a recent graduate, a seasoned professional, or looking for a career change,
                JobPortal provides the tools and resources you need to succeed. Our website provides:</p>
            <ul>
                <li>Comprehensive Job listings</li>
                <li>Easy application process</li>
                <li>Profile management</li>
                <li>Job Alerts</li>
                <li>Company insights</li>
            </ul>
        </div>
    </div>


   

</body>

